<!DOCTYPE html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>ToDO App</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/styles/styles.css">
    </head>
    <body>
        <div class="box" id="heading">
            <h1><%= kindofDay %></h1>       
        </div>
        <div class="box">
            <%  for (var i=0; i<newListItems.length; i++){ %>
            <div class="item">
                <input type="checkbox">
                    <p><%= newListItems[i] %> </p> 
            </div>   
            <% } %>  
        
            <form class="item" action="/" method="POST">
        
                <input type="text" name="newitem" placeholder="Type New Item" autocomplete="off">
        
                <button type="submit" name="button">+</button>
            </form>
        </div>
    </body>
</html>