<!DOCTYPE html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>ToDO App</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <h1><%= kindofDay %></h1> 
        
    <ul>
       <%  for (var i=0; i<newListItems.length; i++){ %>
            <li><%= newListItems[i] %> </li>    
       <% } %>  
    </ul>
        
    <form class="" action="/" method="POST">
        
        <input type="text" name="newitem">

        <button type="submit" name="button">Add</button>
    </form>
    </body>
</html>